" Documentation: https://github.com/JetBrains/ideavim

set hlsearch incsearch 
set ignorecase smartcase
set number relativenumber
set showmode
set ruler

set scrolloff=5

set clipboard+=unnamed

" Emulate Vim Plugins
set surround
set multiple-cursors

inoremap jj <Esc>
vnoremap jk <Esc>

nnoremap gi <Esc>:action GotoImplementation<cr>
nnoremap gd <Esc>:action GotoDeclaration<cr>
nnoremap gs <Esc>:action ShowIntentionActions<cr>
nnoremap ge <Esc>:action ShowErrorDescription<cr>
